@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #06080a;
  color: ghostwhite;
}

.blue-gradient {
  background: #06080a;
  background: radial-gradient(rgba(7, 24, 79, 1) 0%, rgba(6, 8, 10, 1) 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
