@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fdf1f5;
  color: #5b3a4a;
}

.pink-gradient {
  background: #fdf1f5;
  background: radial-gradient(rgba(255, 214, 232, 1) 0%, rgba(253, 241, 245, 1) 50%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
